fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.8.2
pydantic-settings==2.3.0
python-dotenv==1.0.1
sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0
fastapi-admin==1.0.4
tortoise-orm==0.25.1
redis==5.0.7
python-multipart==0.0.20
